<!DOCTYPE html>
<html>
  <head>
    <title>Pick A Line</title>
    <link rel="stylesheet" type="text/css" href="css/stylefront.css">
  </head>
  <body>
    <img src = "https://s3.amazonaws.com/piktochartv2-dev/v2/uploads/ec3075ad-2624-40cb-9590-72fd925e84d5/36f2279de9a8cc2ffeb85a47d7dc887552072483_original.png">
    <p> Pick a Line Below </p>
    <form action="/results" method="post">

<select name="lines">
   <% @subway_lines.each do |name|%>
  <option value="<%=name%>"><%=name%></option> 
  <%end%>
</select>

 <input type="submit" value="Submit">
    </form>
  
  </body>
</html>
