<!DOCTYPE html>
<html>
  <head>
    <title>Pick A Line</title>
  </head>
  <body>
    <p> Pick a Line Below </p>
    <form action="/results" method="post">

<select name="train">
   <% @subway_lines.each do |name|%>
  <option value="<%=name%>"><%=name%></option> 
  <%end%>
</select>

 <input type="submit" value="Submit">
    
  
  </body>
</html>
