<!DOCTYPE html>
<html>
  <head>
    <title> NYC Pick A Line </title>
  </head>
  <body>
    <h1> Welcome to the NYC Pick A Line </h1>
    <p> Below, pick a subway line that you would like to learn about </p>
    <a href= atrain.html> A Train </a>
    <a href= btrain.html> B Train </a>
    <a href= ctrain.html> C Train </a>
    <a href= dtrain.html> D Train </a>
    <a href= etrain.html> E Train </a>
    <a href= ftrain.html> F Train </a>
    <a href= gtrain.html> G Train </a>
    <a href= jztrain.html> J/Z Train </a>
    <a href= ltrain.html> L Train </a>
    <a href= mtrain.html> M Train </a>
    <a href= ntrain.html> N Train </a>
    <a href= qtrain.html> Q Train </a>
    <a href= rtrain.html> R Train </a>
    <a href= sfranklin.html> Franklin Shuttle </a>
    <a href= 42stshuttle.html> 42nd Street Shuttle </a>
    <a href= rockshuttle.html> Rockaway Shuttle </a>
    <a href= 1train.html> 1 Train </a>
    <a href= 2train.html> 2 Train </a>
    <a href= 3train.html> 3 Train </a>
    <a href= 4train.html> 4 Train </a> 
    <a href= 5train.html> 5 Train </a>
    <a href= 6train.html> 6 Train </a>
    <a href= 7train.html> 7 Train </a>
    
  </body>
</html>