body {
    background-image: url("http://web.mta.info/maps/images/subway_2100x2528.jpg");
    text-align: center;
    color: #006600;
}

p {
    color: white;
    margin-left: 20px;
    text-align: center;
  font-size: 60px
}

img {
  text-align: center;
  width: 600px
}
