body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/26/Empty_subway_in_NYC.jpg");
    text-align: center;
    color: #000000;
}

p {
    color: ;
    margin-left: 20px;
    text-align: center;
    font-size: 100px;
}

img {
  text-align: center;
  width: 300px;
}

